<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Geo Events Routing</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h1>지질 정보 확인하기</h1>
<div class="buttons-container">
  <!-- 지도 페이지로 라우팅하는 이미지 "버튼" -->
  <div class="image-container">
    <a href="/map" class="image-link">
      <img src="images/earth1.jpeg" alt="Map" class="geo-image">
    </a>
    <p class="image-description">지도에서 화산, 지진 위치 확인하기</p>
  </div>
  <!-- 지진 페이지로 라우팅하는 이미지 "버튼" -->
  <div class="image-container">
    <a href="/earthquakes" class="image-link">
      <img src="images/earthquake1.jpeg" alt="Earthquakes" class="geo-image">
    </a>
    <p class="image-description">지진 정보 리스트 확인하기</p>
  </div>
  <!-- 화산 페이지로 라우팅하는 이미지 "버튼" -->
  <div class="image-container">
    <a href="/volcanoes" class="image-link">
      <img src="images/volcano1.jpeg" alt="Volcanoes" class="geo-image">
    </a>
    <p class="image-description">화산 정보 리스트 확인하기</p>
  </div>
</div>


</body>
</html>
