<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>화산/지진 위치정보</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h1>화산 정보 테이블</h1>
<div class="map-container">
  <div class="controls-container">
    <!-- Filter options -->
    <div class="filter-group">
      <label for="year">년도:</label>
      <input type="number" id="year" value="2024">
      <label for="minMagnitude">최소 규모:</label>
      <input type="number" id="minMagnitude" step="0.1" value="7.0">
    </div>
    <!-- Action buttons -->
    <button id="showEarthquakes">지진 위치 정보</button>
    <button id="showVolcanoes">화산 위치 정보</button>
    <button id="clearMarkers">마커 지우기</button>
  </div>
  <div id="mapid"></div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="module" src="script/map.js"></script>
</body>
</html>
